  <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Administrate Playlists </h1>
  </div>

  <div class="wrapper-md">
  <!--rajouter un controller plus tard-->
    <div ng-controller='PlaylistsController'>
      <tabset class="tab-container">
        <tab disabled="true">
          <tab-heading>
            <i class="fa icon-user "></i> All Playlists
          </tab-heading>

          <table class="table"  st-pipe="callServer" st-table="rowCollection">
            <thead>
            <tr>
              <th style="width:15%" st-sort="name">Name</th>
              <th style="width:35%">Description</th>
              <th style="width:15%" st-sort="createdByFName">Auteur</th>
              <th style="width:20%" st-sort="createdOn" ">Date de création</th>
              <th style="width:15%">Manager</th>



            </tr>
            <!--<tr>
              <th><input st-search="id"/></th>
              <th><input st-search="name"/></th>
              <th><input st-search="age"/></th>
              <th><input st-search="saved"/></th>
            </tr>-->
            <tbody>
              <tr ng-repeat="playlist in playlists">
                <td>{{playlist.name}}</td>
                <td>{{playlist.description}}</td>
                <td>{{playlist.createdByFName}}</td>
                <td ><span ng-bind="dateCreation(playlist.createdOn)"></span></td>
                <td>
                  <form>
                     <button type="submit" class="btn btn-sm btn-info">
                      Manage Playlist
                     </button>
                  </form>
                </td>
              </tr>

              <div class="panel-body">
                <button type="button" class="btn btn-sm btn-success">
                  <i class="glyphicon glyphicon-plus">
                  </i> Add a new playlist
                </button>
              </div>

            </tbody>
            </thead>
           <!--
            <tbody ng-show="!isLoading">
            <tr ng-repeat="row in rowCollection">
              <td>{{row.id}}</td>
              <td>{{row.first_name}}</td>
              <td>{{row.last_name}}</td>
              <td>{{row.saved}}</td>
            </tr>
            </tbody>
            <tbody ng-show="isLoading">
            <tr>
              <td colspan="4" class="text-center">Loading ... </td>
            </tr>s
            </tbody>-->
            <tfoot>
            <tr>
              <td class="text-center" st-pagination="" st-items-by-page="10" colspan="4">
              </td>
            </tr>
            </tfoot>
          </table>  

        </tab>
      </tabset>
    </div>
  </div>
