 <script type="text/ng-template" id="deleteContent.html">
    <div ng-include="'tpl/modal/modal_delete.html'"></div>
</script>
<script type="text/ng-template" id="successContent.html">
    <div ng-include="'tpl/modal/modal_success.html'"></div>
</script>
<script type="text/ng-template" id="rejectContent.html">
    <div ng-include="'tpl/modal/modal_reject.html'"></div>
</script>
<div class="bg-light lter b-b wrapper-md" >
  <h1 class="m-n font-thin h3">Gestion des Songs </h1>
</div>
<div class="panel panel-default" >
    <div class="panel-heading font-bold">
      Rechercher un song
    </div>
    <div class="panel-body">
      <form ng-show="vue" class="form-inline" role="form"  ng-submit="addSong()" >
        <div class="form-group">
          <label class="sr-only" for="exampleInputEmail2">title</label>
          <input type="text" class="form-control" id="exampleInputEmail2" placeholder="title" ng-model="ti.name">
        </div>
        <div class="form-group">
          <label class="sr-only" for="exampleInputEmail2">album Id</label>
          <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Song Id" ng-model="ti.albumId">
        </div>
      </form>
    </div>
</div>
<div class="wrapper-md" >
  <h4>Editer un song</h4>
  <table ng-show="vue" ng-init="initSong()"  class="table table-bordered table-hover  bg-white-only">
    <tr style="font-weight: bold">
      <td style="width:35%">title</td>
      <td style="width:35%">CoverImage</td>
      <td style="width:35%">Link</td>      
      <td style="width:35%">SingleRating</td>
      <td style="width:35%">ArtistName</td>
      <td style="width:20%">Album Id</td>
      <td style="width:20%">IsDownload</td>

      <td style="width:25%">Edit</td>
    </tr>
    <tr  ng-repeat="song in songs | filter: ti.name |filter: ti.albumId | orderBy: song.name  track by song.id">
      <td class="v-middle">
        <!-- editable username (text with validation) -->
        <span editable-text="song.name"  e-name="name" e-form="rowform" onbeforesave="checkName($data, song.id)" e-required>
          {{ song.name || 'empty' }}
        </span>
      </td>
       <td class="v-middle">
        <!-- editable username (text with validation) -->
        <span editable-text="song.coverImage"  e-name="coverImage" e-form="rowform" onbeforesave="checkName($data, song.id)" e-required>
          {{ song.coverImage || 'empty' }}
        </span>
      </td>
      <td class="v-middle">
        <!-- editable username (text with validation) -->
        <span editable-text="song.link"  e-name="link" e-form="rowform" onbeforesave="checkName($data, song.id)" e-required>
          {{ song.link || 'empty' }}
        </span>
      </td>
     
      <td class="v-middle">
        <!-- editable username (text with validation) -->
        <span editable-text="song.singleRating"  e-name="singleRating" e-form="rowform" onbeforesave="checkName($data, song.id)" e-required>
          {{ song.singleRating}}
        </span>
      </td>

      <td class="v-middle">
        <!-- editable username (text with validation) -->
        <span editable-select="song.artistId"  e-name="artistId" e-form="rowform" e-required onshow="loadGroupsArtist()" e-ng-options="g.id as g.name for g in groupsArtist">
          {{ song.artistName || 'empty' }}
        </span>
      </td>
      <td class="v-middle">
        <!-- editable username (text with validation) -->
        <span editable-select="song.albumId"  e-name="albumId" e-form="rowform" e-required onshow="loadGroupsAlbum()" e-ng-options="g.id as g.albumName for g in groupsAlbum">
          {{ song.albumId || 'empty' }}
        </span>
      </td>
      <td class="v-middle">
        <!-- editable group (select-remote) -->
        <span editable-select="song.downloadable" e-name="downloadable" onshow="loadGroups()" e-form="rowform" e-ng-options="g.id as g.text for g in groups">
          {{ song.downloadable }}
        </span>
      </td>


      <td style="white-space: nowrap">
        <!-- form -->
        <form editable-form name="rowform" onbeforesave="saveSong($data, song.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == song">
          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-sm btn-info">
            save
          </button>
          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-sm btn-default">
            cancel
          </button>
        </form>
        <div class="buttons" ng-show="!rowform.$visible">
          <button class="btn btn-sm btn-info" ng-click="rowform.$show()">edit</button>
          <button class="btn btn-sm btn-danger" ng-click="open(song)">del</button>
        </div>
      </td>
    </tr>
  </table>
   <div class="text-center" ng-show="spinner">
      <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>


   <div class="panel panel-default">
    <div class="panel-heading font-bold">
      Ajouter un Song
    </div>
    <div class="panel-body">
      <form class="form-inline" role="form"  ng-submit="addSong()" >
        <div class="form-group">
          <label class="sr-only" for="exampleInputEmail2">Name</label>
          <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Name" ng-model="tit.name">
        </div>
        <div class="form-group">
          <label class="sr-only" for="exampleInputEmail2"> song link url</label>
          <input type="text" class="form-control" id="exampleInputEmail2" placeholder="song url" ng-model="tit.link">
        </div>
        <div class="form-group">
          <label class="sr-only" for="exampleInputEmail2">cover image</label>
          <input type="text" class="form-control" id="exampleInputEmail2" placeholder="cover image" ng-model="tit.coverImage">
        </div>
        <div class="form-group">
          <label class="sr-only" for="exampleInputEmail2">Single Rating</label>
          <input type="number" class="form-control" id="exampleInputEmail2" placeholder="Single Rating" ng-model="tit.singleRating">
        </div>

        <div class="form-group">
          <ui-select class="form-group" ng-model="tit.artistId" theme="bootstrap">
            <ui-select-match placeholder="Selectionner un artiste">{{$select.selected.id}}</ui-select-match>
            <ui-select-choices repeat="item.id as item in artist | filter: $select.search">
              <div ng-bind-html="item.name | highlight: $select.search"></div>
              <small ng-bind-html="item.email | highlight: $select.search"></small>
            </ui-select-choices>
          </ui-select>
        </div>

        <div class="form-group">
          <ui-select  ng-model="tit.albumId" theme="bootstrap">
            <ui-select-match placeholder="Selectionner ou chercher un album...">{{$select.selected.id}}</ui-select-match>

            <ui-select-choices repeat="item.id as item in album | filter: $select.search">
              <div ng-bind-html="item.albumName | highlight: $select.search"></div>
              <small ng-bind-html="item.label | highlight: $select.search"></small>
            </ui-select-choices>
          </ui-select>
        </div>

        <div class="checkbox m-l m-r-xs">
          <label class="i-checks">
            <input type="checkbox" ng-model="tit.downloadable"><i></i>IsDownload
          </label>
        </div>

        <button type="submit" class="btn btn-primary ">Enregistrer</button>

      </form>
    </div>
  </div>
</div>
